body {
    margin: 0;
    padding: 0;
}

#container {
    width: 75%;
    margin: 6.25% auto 0;
}

/* Badge colors */
.badge-danger {
  background-color: #d43f3a;
}

.badge-warning {
  background-color: #d58512;
}

.badge-success {
  background-color: #398439;
}

.badge-info {
  background-color: #269abc;
}

.badge-inverse {
  background-color: #333333;
}

/* jQuery Tablesorter */
table.tablesorter thead tr .header {
    background-image: url(/assets/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url(/assets/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
    background-image: url(/assets/desc.gif);
}


